<div class="container py-3">
  <div class="row">
    <div class="col-12 ">
      <div class="card ">
        <div class="card-header text-white bg-info">
          <h2 class="text-center">Formulario de pedidos</h2>
        </div>
        <div class="card-body">
          <form action="" method="" id="formulario">
            <div class="row">
              <div class="col-md-6">
                <div class="group-form">
                  <label for="proveedor">Nombre Proveedor</label>
                  <input type="text" name="proveedor" class="form-control" id="nombreProveedor" placeholder="Nombre proveedor"
                    required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="group-form">
                  <label for="codigo_punto">Nombre punto de entrega</label>
                  <input type="text" name="codigo_punto" class="form-control" id="punto_entrega" placeholder="Nombre punto de entrega"
                    required>
                </div>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div>
                  <h2 class="text-center">Listado de productos</h2>
                </div>
                <div class="row py-2">
                  <div class="col-md-3">
                    <input type="text"  placeholder="Nombre del producto" class="form-control">
                  </div>
                  <div class="col-md-2">
                      <input type="number" min="1"  placeholder="Cantidad" class="form-control">
                    </div>
                  <div class="col-md-2">
                    <button class="btn btn-info text-right" id="agregar"><i class="fas fa-plus"></i></button>
                  </div>
                </div>
                <table class="table table-striped" id="tabla_producto">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">PLU</th>
                      <th scope="col">Descripción</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Medida</th>
                      <th scope="col">Opción</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div>
                  <h2>Tipo de pedido</h2>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipo_pedido" id="" required>
                  <label for="tipo_pedido">Regular</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipo_pedido" id="">
                  <label for="tipo_pedido">Urgente</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col">
                <button class="btn btn-danger" type="button" id="limpiar"><i class="fas fa-trash-alt"></i>
                  Limpiar</button>
                <button type="submit" class="btn btn-info"><i class="fas fa-save"></i> Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
