<div class="container py-3">
  <div class="row">
    <div class="col-12 ">
      <div class="card ">
        <div class="card-header text-white bg-info">
          <h2 class="text-center">Formulario de pedidos</h2>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <div class="group-form">
                <label for="proveedor">Nombre Proveedor</label>
                <select  class="form-control">
                    <option></option>
                  <option *ngFor="let item of proveedor" (click)="listProduct(item.codproveedor,item.nit,item.razonsocial)">{{item.razonsocial}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="group-form">
                <label for="codigo_punto">Nombre punto de entrega</label>
                <input [(ngModel)]="puntoventa" type="text" class="form-control" id="punto_entrega" placeholder="Nombre punto de entrega">
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Código proveedor</label>
                <input [(ngModel)]="codproveedor" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Nit</label>
                <input [(ngModel)]="nit" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Nombre Proveedor</label>
                <input [(ngModel)]="nombreproveedor" type="text" class="form-control" disabled>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <div>
                <h2 class="text-center">Listado de productos</h2>
              </div>
              <div class="row py-2">
                <div class="col-md-3">
                  <select [(ngModel)]="nombreproducto" class="form-control">
                    <option></option>
                    <option (click)="codproducto = product.codproducto;descripcion = product.descripcion;medida = product.codmedida.descripcion" *ngFor="let product of productos">{{ product.descripcion }}</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <input [(ngModel)]="cantidad" type="number" min="1" placeholder="Cantidad" class="form-control">
                </div>
                <div class="col-md-2">
                  <button (click)="addProduct()" class="btn btn-info text-right" title="Agregar producto"><i class="fas fa-plus"></i></button>
                </div>
              </div>
              <table class="table table-striped" id="tabla_producto">
                <thead>
                  <tr>
                    <th scope="col">PLU</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Medida</th>
                    <th scope="col" >Opción</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of product">
                        <th>{{ item.plu }}</th>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.medida }}</td>
                        <td><button  (click)="delete(item.plu)" class="btn btn-danger" title="Eliminar producto"><i class="fas fa-trash"></i></button> </td>
                      </tr>
                </tbody>
              </table>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div>
                <h2>Tipo de pedido</h2>
              </div>
              <div class="form-check">
                <input  [(ngModel)]="tipoPedido" value="Regular" class="form-check-input" type="radio" required>
                <label for="tipo_pedido">Regular</label>
              </div>
              <div class="form-check">
                <input  [(ngModel)]="tipoPedido" value="Urgente" class="form-check-input" type="radio">
                <label for="tipo_pedido">Urgente</label>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6  align-self-start">
              <button class="btn btn-danger" type="button" id="limpiar"><i class="fas fa-trash-alt"></i>
                Limpiar</button> &nbsp;
              <button (click)="submit()" type="submit" class="btn btn-info"><i class="fas fa-save"></i> Enviar</button>
            </div>
            <div class="col-md-6  align-self-end">
              <a [routerLink]="[ '/home']" class="btn btn-info"><i class="fas fa-times "></i> Cancelar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
