<div class="container py-3">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="body-enviado card-body">
          <div class="row">
            <div class="col-md-3 text-center">
              <i class="icon far fa-envelope fa-3x"></i>
            </div>
            <div class="col-md-9">
              <h3>Enviado</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="body-pendiente card-body">
          <div class="row">
            <div class="col-md-3">
              <i class="icon far fa-clock fa-3x"></i>
            </div>
            <div class="col-md-9">
              <h3>Pendiente</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="body-cancelado card-body">
          <div class="row">
            <div class="col-md-3 text-center">
              <i class="icon fas fa-ban fa-3x"></i>
            </div>
            <div class="col-md-9 ">
              <h3>Cancelado</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center">
  <div class="row py-3">
    <div class="col-md-6 ">
      <div class="card py-2">
        <div class="body">
          <a [routerLink]="[ '/order/create' ]"><img class="imagen img-fluid" src="../../assets/img/crear.png" alt=""></a>
          <h2>Realizar pedido</h2>
        </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="card py-2">
        <div class="body">
            <a [routerLink]="[ '/order/consult']"><img class="imagen img-fluid" src="../../assets/img/consultar.png" alt=""></a>
            <h2>Consultar pedido</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-3">
    <div class="col-md-6">
      <div class="card py-2">
        <div class="body">
            <img class="imagen img-fluid" src="../../assets/img/editar.png" alt="">
            <h2>Editar pedido</h2>
        </div>
      </div>
    
    </div>
    <div class="col-md-6">
      <div class="card py-2">
        <div class="body">
            <img class="imagen img-fluid" src="../../assets/img/verificar.png" alt="">
            <h2>Verificar pedido</h2>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
