<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="body-enviado card-body">
          <div class="row">
            <div class="col-md-3 text-center">
              <i class="icon far fa-envelope fa-3x"></i>
            </div>
            <div class="col-md-9">
              <h3>Enviado</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="body-pendiente card-body">
          <div class="row">
            <div class="col-md-3">
              <i class="icon far fa-clock fa-3x"></i>
            </div>
            <div class="col-md-9">
              <h3>Pendiente</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="body-cancelado card-body">
          <div class="row">
            <div class="col-md-3 text-center">
              <i class="icon fas fa-ban fa-3x"></i>
            </div>
            <div class="col-md-9 ">
              <h3>Cancelado</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row py-5">


  </div>
</div>
