
.icon{
    color: #fdfdfd;
}

.body-pendiente{
    background-color: #000000;
}

.body-enviado{
    background-color: #000000;
}

.body-cancelado{
    background-color: #000000;
}

h3{
    color: #fdfdfd;
}
.imagen{
    width: 200px;
    height: 200px;
}